# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env

# Logs
*.log
.ipynb_checkpoints/
.virtual_documents/